@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(greenGround.jpg)no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
   header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  
  header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
  }
  
  header .navigation a:not(:last-child){
    margin-right: 30px;
  }
  
  header .navigation a:hover{
    background: #fff;
  }
  
  .content{
    max-width: 650px;
    margin: 60px 100px;
  }
  
  .content .info h2{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  
  .content .info h2 span{
    color: rgb(236, 135, 40);
    font-size: 50px;
    font-weight: 600;
  }
  
  .content .info p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  